body {
    background: url("body-background.gif") repeat scroll 50% 50% transparent;
}

::-moz-selection {
    background-color: #1F7AD7;
    color: #FFFFFF;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

::selection {
    background-color: #1F7AD7;
    color: #FFFFFF;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

.simple-little-table {
    border: 1px solid #D6D6D6;
    border-collapse: separate;
    border-radius: 3px 3px 3px 3px;
    border-spacing: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.086);
    font-family: "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.simple-little-table th, .simple-little-table td {
    color: #555555;
    padding: 22px 28px;
    text-align: center;
}

.simple-little-table th:first-child, .simple-little-table td:first-child {
    border-left: medium none;
    text-align: left;
}

.simple-little-table th {
    background: none repeat scroll 0 0 #E5E7E8;
    background-image: -moz-linear-gradient(center top , #ECEDEE, #E8EAEA);
    background-image: -webkit-gradient(linear, top, #ECEDEE, #E8EAEA);
    background-image: -webkit-linear-gradient(top , #ECEDEE, #E8EAEA);
    background-image: -o-linear-gradient(top , #ECEDEE, #E8EAEA);
    background-image: -ms-linear-gradient(top , #ECEDEE, #E8EAEA);
    background-image: linear-gradient(top , #ECEDEE, #E8EAEA);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.58) inset, 0 -1px 0 rgba(255, 255, 255, 0.63) inset;
    color: #666666;
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.68);
}

.simple-little-table th:first-child {
    border-radius: 3px 0 0 0;
}

.simple-little-table th:last-child {
    border-radius: 0 3px 0 0;
}

.simple-little-table td {
    border-left: 1px solid #D6D6D6;
}

.simple-little-table td {
    background-color: #FAFAFA;
    border-top: 1px solid #D6D6D6;
    padding-bottom: 17px;
    padding-top: 17px;
}

.simple-little-table tbody tr:nth-child(2n) td {
    background-color: #F7F7F7;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.simple-little-table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 3px;
}

.simple-little-table tbody tr:last-child td:last-child {
    border-radius: 0 0 3px 0;
}